@import 'vars.css';

.levelUpState {
  padding: 150px 50px;
  padding-top: 60px;
  text-align: center;
}

.label {
  font-size: 24px;
  color: $dark-gray-1;
  margin-top: 50px;
}

.levelDisplay {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: $light-gray-2;
  text-align: center;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nextStage {
  @mixin font instruction;
  margin-top: 140px;
}

.endOfTest {
  @mixin font instruction;
  margin-top: 120px;

  .instruction {
    margin: 15px auto;
  }
}

.startContainer {
  @mixin flex down, center, center;
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  font-weight: bold;
}
