@import 'vars.css';

.center {
  @mixin flex down, center, center;
  height: 100vh;
  width: 100vw;
}

.userTable {
  max-width: 800px;
}

.csvMsg {
  margin: 20px;
}

.info {
  margin: 20px;

  .label {
    margin-bottom: 10px;
  }
}

.csvButton {
  background-color: $off-white;
}

.testId {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#F9F8FC, #F0EFF3);
  text-align: center;
  @mixin flex right, center, center;
}

.content {
  color: $dark-gray-1;

  .text {
    font-size: 24px;
  }

  .id {
    font-size: 36px;
    padding: 10px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .instructions {
    font-size: 24px;
    width: 500px;
    margin: 0 auto;
  }

  .heading {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: 0.5;
  }

  .answer {
    font-size: 18px;
    width: 500px;
    margin: 0 auto;
    opacity: 0.5;
  }
}
