@import 'vars.css';

.title {
  @mixin font title;
  color: $light-gray-2;
  text-align: center;
  margin-left: 10px;
  margin-top: 85px;
}

.instruction {
  @mixin font instruction;
  color: $light-gray-3;
  text-align: center;
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
}

.currentShapeContainer {
  margin-top: 30px;

  .currentShape {
    font-size: 160px;
    color: $dark-gray-2;
    position: absolute;
  }
}

.endPractice {
  @mixin flex down, center, center;
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  font-weight: bold;
}

.symbolsAnimationGroup {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;

  .symbol {
    font-size: 128px;
    color: $dark-gray-2;
  }
}

.symbolsAnimationEnter {
  opacity: 0;
  transition: opacity 50ms;
}

.symbolsAnimationEnterActive {
  opacity: 1;
}

.symbolsAnimationExit {
  opacity: 1;
  transition: opacity 200ms;
}

.symbolsAnimationExitActive {
  opacity: 0;
}
