@import 'vars.css';

.titleState {
  color: $dark-gray-2;
  padding: 30px;
}

.levelDisplay {
  @mixin font title;
  color: $light-gray-3;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
}

.title {
  @mixin font title;
  color: $light-gray-3;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
}

.instructions {
  margin: 10px auto;
  width: 350px;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 75px;

  .instruction {
    margin-top: 15px;
  }
}

.example {
  margin: 10px 0;

  .exampleDigit {
    @mixin font bigDigit;
    color: $light-gray-3;

    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .enteredDigits {
    color: $light-gray-3 !important;
  }
}

.digits {
  @mixin flex right, center, center;
}

.checks {
  @mixin flex right, center, center;

  .yesIcon {
    @mixin flex right, center, center;
    color: $green;
    width: 25px;
    height: 25px;
    margin: 5px;
    margin-top: 0;
    font-size: 18px;
  }
}

.controls {
  @mixin flex right, center, center;
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  font-weight: bold;

  .button {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
