@import 'vars.css';

.table {
  margin: 20px;

  .row {
    @mixin flex right, center, center;
  }

  .cell {
    border-left: 1px solid $dark-gray-border;
    border-top: 1px solid $dark-gray-border;
    height: 60px;
    padding: 20px;
  }

  .row:last-child .cell {
    border-bottom: 1px solid $dark-gray-border;
  }

  .cell:last-child {
    border-right: 1px solid $dark-gray-border;
  }

  .row:nth-child(2n) {
    background-color: $off-white;
  }

  .header {
    font-weight: bold;
    padding: 10px 20px;
  }

  .tall {
    height: 200px;
    overflow: auto;
  }

  .inner {
    margin: 20px;
  }
}

.loadingMsg {
  padding: 20px;
  font-size: 24px;
}
