$off-white: #fafafa;

$gray: #F0EFF3;
$gray-gradient-lite: #F9F8FC;

$dark-gray-border: #f0f0f0;
$gray-border: #ddd;

$light-gray-2: #BCBBBC;
$light-gray-3: #999;

$dark-gray-1: #35383A;
$dark-gray-2: #555A5E;

$green: #25B89A;
$red: #e56b6e;

$box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
