@import 'vars.css';

.signInState {
  padding: 50px;
  color: $dark-gray-2;
}

.title {
  margin-top: 20px;
  @mixin font title;
  color: $light-gray-3;
  text-align: center;
  margin-bottom: 30px;
}

.instruction {
  @mixin font instruction;
  width: 350px;
  margin: 30px auto;
  text-align: center;
}

.buttonContainer {
  @mixin font instruction;
  width: 250px;
  margin: 30px auto;
  text-align: center;
}

.inputContainer {
  text-align: center;
  margin-top: -15px;
}

.bottomButtonContainer {
  @mixin flex down, center, center;
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
}

.reactionTimeInstructions {
  margin-top: 75px;
}

.input {
  @mixin font input;
}

.br {
  height: 1px;
}
